body {
    color: rgb(255, 0, 34);
    background: rgb(1, 22, 39);
    text-align: center;
}

.container{
    display: inline-block;
    border: 25px double;
    width: 1200px;
}

.obsah{
    padding: 3em;
}

strong{
    font-size: 250%;
    color: chocolate;
};

h1{
    font-size: 250%;
    border: rgb(255, 38, 0);
    background: darkgrey;
}

a{
    font-size: 200%;  
    color: rgb(255, 38, 0);
    
    
}

b{
    color: rgb(91, 190, 190);
    
}

p{
    
    font-size: 130%;
    color: aliceblue;
}

table{
    width: 100%;
}